.header{
  .header-menu{
    padding-left: 200px;
    // background-color: darkgreen;
  }

  .text{
    color: #eeeeee;
    font-size: 16px;
  }

  .header-div{
    top:10px;
    position: absolute;
    font-size: 15px;
    width: 200px;
    right: 20px;
    text-align: right;
    color: white;
    .header-account{
      right:30px;
    }
  }

  .header-icon{
    top:5px;
    position: absolute;
    font-size: 20px;
    width: 200px;
    left: 5px;
    text-align: left;
    color: white;
    .header-account{
      right:30px;
    }
  }
}